@media screen and (max-width:1220px) {
    .container {
        padding: 0 20px;
    }
    .food-menu {
        flex-basis: 49%;
    }
    .menu-img {
        flex: 0 0 35%;
    }
    .menu-img img {
        width: 200px;
        height: 200px;
    }
    .menu-content {
        flex-basis: 58%;
    }
}
@media screen and (max-width:1015px) {
    .menu-content {
        flex-basis: 53%;
    }
}
@media screen and (max-width:942px) {
    .primary-menu ul li a {
        font-size: .9rem;
    }
    .menu-img img {
        width: 190px;
        height: 190px;
    }
}

/* this css foe main style, style.css */
.menu-check, .menu-icon {
    display: none;
}

@media screen and (max-width:882px) {
    .header-wrap{
        position: relative;
        padding-bottom: 5px;
    }
    .menu-check{
        height: 30px;
        width: 30px;
        cursor: pointer;
        margin-left: auto;
        margin-top: 10px;
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0;
        display: inline-block;
    }
    .menu-icon{
        font-size: 33px;
        position: absolute;
        right: 1px;
        top: 0;
        color: #6278df;
        cursor: pointer;
        pointer-events: none;
        display: inline-block;
    }
    .menu-check:checked ~ ul{
        opacity: 1;
        visibility: visible;
        height: auto;
        width: 100%;
    }
    .primary-menu ul{
        opacity: 0;
        visibility: hidden;
        flex-direction: column;
        align-items: flex-end;
        height: 0;
        margin-left: auto;
    }
    .primary-menu ul li{
        display: block;
    }
    .primary-menu ul li a{
        padding: 10px 0;
    }
    .primary-menu ul li ul{
        right: 140%;
        top: 0px;
    }
    .logo{
        flex-basis: 70%;
    }
    .primary-menu{
        flex-basis: 20%;
        margin-top: 40px;
    }
    .header {
        position: sticky;
    }
    .banner-content{
        margin-top: 0;
    }
    .menu-img {
        flex: 0 0 20%;
    }
    .menu-img img {
        width: 180px;
        height: 180px;
    }
    .menu-content {
        flex-basis: 50%;
    }
    .menu-content h4 {
        font-size: 1.2rem;
    }
    .menu-content p {
        font-size: .84rem;
    }
    .menu-content span{
        font-size: 1rem;
    }
}
@media screen and (max-width:700px) {
    .about-right{
        order: -1;
        flex-basis: 100%;
    }
    .about-left{
        flex-basis: 100%;
        display: block;
    }
}
@media screen and (max-width:810px) {
    .testimonial-wrap{
        flex-direction: column;
    }
    .food-menu {
        flex-basis: 100%;
        justify-content: space-evenly;
    } 
}
@media screen and (max-width:592px) {
    .food-item {
        flex-basis: 94%;
        margin:0  auto 20px;
    }
    .food-menu {
        flex-basis: 100%;
    }
}
@media screen and (max-width:488px) {
    .menu-img img {
        width: 160px;
        height: 160px;
    }
    .menu-content h4 {
        font-size: 1.1rem;
    }
    .menu-content span {
        font-size: .9rem;
    }
}
@media screen and (max-width:418px) {
    .menu-content {
        flex-basis: 100%;
        text-align: center;
    }
    .menu-content h4 {
        margin-top: 10px;
    }
}
@media screen and (max-width:px) {
    
}
@media screen and (max-width:px) {
    
}